.notShowChooseFile{
    opacity: 0;
     position: 'absolute';
      top: 0;
       left: 0;
}

.img {
    transition: 0.2s ease;
    border-radius: 50%;
    cursor: pointer;
    /* margin-top:-0.6rem; */

}

@media screen and (width > 1500px) {
    .img {
        transition: 0.2s ease;
        border-radius: 50%;
        cursor: pointer;
        margin-top:-0.6rem;
    }
  }
