.navbar{
    height: 4.4rem;
    background-color:#FCFCFC;
    z-index: 1000;
    box-shadow: 1px 0px 6px rgb(0 0 0 / 10%);
}



/* spinning yellow loader */
  
.loader {
    border-top: 5px solid #f2c61d;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

  }
  
  .loader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

  }
  
  .loader::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-top: 5px solid #f2c61d;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-radius: 50%;
    z-index: 2;
    animation: spin 1.5s ease-in-out infinite;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }