.sidebar{
    width: 15rem;
    padding: 1rem;
    box-shadow: 3px 0px 6px rgb(0 0 0 / 7%);
}

.sideBarContent{
    font-family: cursive !important;
    color: #11142D;
    text-decoration: none !important;
}
.sideBarContent:hover{
    background: rgb(204, 204, 255);
    border-radius: 12px;
    cursor: pointer;
    font-family: cursive;
    color: rgba(129, 30, 400, 7);
    text-decoration: none !important;
}
.mainDiv{
    padding-left: 0.7rem;
    z-index: 1000;
    position: relative;
    margin-top: 1px;
}
